# Clase 4: Presentación de Python

### Operaciones matemáticas básicas:

In [1]:
# Comentarios:  Texto informativo que no se ejecuta

# Suma:

100 + 32

132

In [2]:
# Resta:

14 - 28

-14

In [3]:
# Multiplicación:

2 * 70

140

In [5]:
# División:

17 / 3

5.666666666666667

In [8]:
# División entera:

17 // 3

5

In [2]:
# Módulo (residuo de la división entera):

17 % 3

2

In [12]:
# Potencias o exponentes:

3 ** 4

81

In [15]:
# Raíz cuadrada

sqrt(5)

NameError: name 'sqrt' is not defined

In [3]:
25 ** (0.5)

5.0

### Variables:

In [18]:
# Definición de variables:

Costo = 57505      # El operador de asignación es el símbolo '='

par = 10           # [Nm]
rpm = 1800
pi = 3.1416
vel_angular = rpm * (2 * pi / 60)    # [rad/s]
potencia_eje = par * vel_angular

### Datos numéricos

In [6]:
# Enteros (int):

type(34)

int

In [7]:
# Reales (float):

type(34.0)

float

### Cadenas de caracteres (str):

In [8]:
# Creación:

direccion = 'Calle 67, No. 53 - 108'
genero = "Femenino"

In [9]:
type(genero)

str

### Variables de valor lógico (booleanas):

In [11]:
verdadero = True
falso = False

In [12]:
type(falso)

bool

### Operadores de relación:

In [24]:
# Expresiones lógicas que dan como resultado una variable booleana:

3 < 2

False

In [25]:
14 >= 13

True

In [26]:
3 <= 5

True

In [15]:
edad = 22
(25 - 3) == edad

True

In [28]:
permiso = 'concedido'
permiso != 'denegado'

True

### operadores lógicos

In [33]:
#  Conjunción: and

(5 > 3) and (2.5 == 3)

False

In [34]:
# Disyunción: or

(5 > 3) or (2.5 == 3)

True

In [35]:
# Negación: not

(5 > 3) and not (2.5 == 3)

True

### Entrada y salida de datos:

In [17]:
# Entrada de datos por parte del usuario, en la consola:

nombre = input('Escriba su primer nombre:    ')

Escriba su primer nombre:    Laura

In [18]:
nombre

'Laura'

**El comando input siempre interpreta lo que se escribe como una cadena de caracteres:**

In [19]:
edad = input('Ingrese su edad:    ')

Ingrese su edad:    22

In [20]:
edad + 4

TypeError: can only concatenate str (not "int") to str

In [21]:
edad = int(input('Ingrese su edad:    '))

Ingrese su edad:    22

In [22]:
edad / 2

11.0

In [23]:
temp = float(input('Ingrese la temperatura de la barra:    '))

Ingrese la temperatura de la barra:    88.7

In [48]:
# Salida de datos en pantalla (consola):

print('Mensaje')

Mensaje

In [24]:
temp = 23.8
print('La temperatura ambiente es', temp, '[°C]')

La temperatura ambiente es 23.8 [°C]

In [51]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [52]:
variable = 25.3
print('El resultado es', variable, "[°C]", sep = '')

El resultado es25.3[°C]

In [53]:
variable = 25.3
print('El resultado es', variable, "[°C]", sep = '', end = '')
print('El resultado es', variable, "[°C]")

El resultado es25.3[°C]El resultado es 25.3 [°C]

In [56]:
variable = 25.3
print('El resultado es', variable, "[°C]", sep = '')
print('El resultado es', variable, "[°C]")

El resultado es25.3[°C]
El resultado es 25.3 [°C]

In [57]:
variable = 25.3
print('El resultado es', variable, "[°C]", sep = '\n')

El resultado es
25.3
[°C]